<ion-header class="ion-no-border">

  <ion-toolbar>

      <ion-buttons slot="start">
      <ion-menu-button menu="first" color="corp2"></ion-menu-button>
      </ion-buttons>
      
      <ion-title>Perfil participante</ion-title>
  </ion-toolbar>
    
</ion-header>

<ion-content class="ion-padding">
  <h1>Perfil participante </h1>


  <ion-list>
    <ion-item *ngFor="let res of response | keyvalue: unsorted">
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">{{ res.key }}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label type="text" class="ion-text-wrap">{{ res.value }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <h1>Dirección</h1>

  <ion-list>
    <ion-item *ngFor="let dir of direccion | keyvalue: unsorted">
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">{{ dir.key }}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label type="text" class="ion-text-wrap">{{ dir.value }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <h1>Adicional</h1>
 
  <ion-list>
    <ion-item *ngFor="let ad of adicional | keyvalue: unsorted">
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">{{ ad.key }}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label type="text" class="ion-text-wrap">{{ ad.value }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
 
</ion-content>
