<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis sesiones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!--
  <ion-list>

    <ion-item *ngFor="let item of sesion; index as i">
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">{{ item.name }}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label type="text" class="ion-text-wrap">{{ item.value }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>
-->

  <ion-list>
    <ion-item *ngFor="let ses of sesion | keyvalue: unsorted">
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">{{ ses.key }}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label type="text" class="ion-text-wrap">{{ ses.value }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</ion-content>