<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="corp2"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Datos</ion-title>
  </ion-toolbar>
    
</ion-header>

<ion-content class="ion-padding">

  <ion-text>
    <h1>Datos personales</h1>
  </ion-text>
  

  <!--
  <ion-list>
    <ion-item *ngFor="let item of response">
      <ion-label>{{ item.name }}</ion-label>
      <ion-label>{{ item.value }}</ion-label>
    </ion-item>

  </ion-list>
  

  <ion-list>

    <ion-item *ngFor="let item of response; index as i">
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">{{ item.name }}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input>{{ item.value }}</ion-input>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
-->
  <ion-list class="ion-margin-top">
    <ion-item>

      <!--
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input> 
        <ion-label>
          {{ first_name }}
        </ion-label> 
      </ion-input>

    -->

      
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Nombre</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input class="ion-text-wrap"> {{ first_name }} </ion-input> 

          <ion-textarea [autoGrow]="false" value="aaaaaaaaa{{ first_name }}">  </ion-textarea>
        </ion-col>
      </ion-row>
      
    </ion-item>

    <ion-item>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Apellidos</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input> {{ last_name }} </ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Tipo de identificación</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input> {{ stic_identification_type_c }} </ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Número de identificación</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input> {{ stic_identification_number_c }} </ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Sexo</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input> {{ stic_gender_c }} </ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Fecha de nacimiento</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input> {{ birthdate }} </ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Correo electrónico</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input> {{ email1 }} </ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>

  <ion-text class="ion-margin-top">
    <h1>Dirección</h1>
  </ion-text>

  <ion-list class="ion-margin-top">
    <ion-item>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Tipo de vía</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input> {{ bosco_tipovia_c }} </ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Nombre de la vía</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input> {{ primary_address_street }} </ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Población</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input> {{ primary_address_city }} </ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Provincia</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input> {{ primary_address_state }} </ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Código postal</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-input> {{ primary_address_postalcode }} </ion-input>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list>

  <ion-button (click)="save()" expand="block" shape="round" color="corp1" class="ion-margin-top">

    <ion-text color="corp2">
      Guardar cambios
    </ion-text>
  </ion-button>

</ion-content>
