<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="corp2"></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Datos</ion-title>
  </ion-toolbar>
    
</ion-header>

<ion-content class="ion-padding">

  <ion-text>
    <h1>Datos personales</h1>
  </ion-text>

  <ion-list>
    <ion-item *ngFor="let dato of datos | keyvalue: unsorted">
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">{{ dato.key }}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label type="text" class="ion-text-wrap">{{ dato.value }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>


  <ion-text>
    <h1>Dirección</h1>
  </ion-text>
  
  <ion-list>
    <ion-item *ngFor="let dir of direccion | keyvalue: unsorted">
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">{{ dir.key }}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label type="text" class="ion-text-wrap">{{ dir.value }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-button (click)="save()" expand="block" shape="round" color="corp1" class="ion-margin-top">

    <ion-text color="corp2">
      Guardar cambios
    </ion-text>
  </ion-button>

</ion-content>
