<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis documentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


<ion-list>
  
  <ion-item>
    <ion-row size="12">
      <ion-col size="12">
        <ion-label>Seleccione un fichero</ion-label>
      </ion-col>
      <ion-col size="12">
        
        <!--
        <ion-button expand="block" fill="clear" shape="round">
          <ion-label></ion-label>
        </ion-button>
        -->

      <input type="file" (change)="upload($event)" id="file-input" accept="pdf">

      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
    <ion-row size="12">
      <ion-col size="12">
        <ion-label>Tipo de documento</ion-label>
      </ion-col>
      <ion-col size="12">
        
        

      </ion-col>
    </ion-row>
  </ion-item>

  <ion-item>
    <ion-row size="12">
      <ion-col size="12">
        <ion-label>Descripción</ion-label>
      </ion-col>
      <ion-col size="12">
        
        

      </ion-col>
    </ion-row>
  </ion-item>

  




</ion-list>








</ion-content>
