<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis documentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    
    <ion-item>
      <ion-label position="stacked" style="font-weight: bold;">Seleccione un fichero</ion-label>
      <input type="file" (change)="onFileSelected($event)">
    </ion-item>

    <ion-item>
      <ion-label position="stacked" style="font-weight: bold;">Tipo de documento</ion-label>
      <ion-select [(ngModel)]="tipo_doc">
        <ion-select-option *ngFor="let tipo_doc of tipos_doc" [value]="tipo_doc">{{tipo_doc}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" style="font-weight: bold;">Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="descripcion"></ion-input>
    </ion-item>

  </ion-list>

  <ion-button (click)="save()" expand="block" shape="round" color="corp1" class="ion-margin-top">

    <ion-text color="corp2">
      Guardar
    </ion-text>

  </ion-button>
  
</ion-content>
