<ion-header class="ion-no-border">

    <ion-toolbar>

        <ion-buttons slot="start">
        <ion-menu-button menu="first" color="corp2"></ion-menu-button>
        </ion-buttons>
        
        <ion-title>Actividades</ion-title>
    </ion-toolbar>
      
</ion-header>

<ion-content class="ion-padding">
 
    <h1>Actividades</h1>

    <ion-label >{{ no_registers }}</ion-label>

    <ion-grid fixed *ngFor="let item of response; index as i">
        <ion-row (click)="showActividad(i)">
            <ion-col size="12">
                <ion-text color="primary">
                    <p>{{ i+1 }} ) {{ item[4].value }}</p>
                </ion-text> 
            </ion-col>
        </ion-row>
    
        <!--
        <ion-row>
            <ion-col size="12">
                <ion-button (click)="showActividad(i)" expand="block" fill="clear" shape="round">
                    Ver
                </ion-button>
            </ion-col>
        </ion-row>
        -->
    </ion-grid>

</ion-content>
