<ion-header class="ion-no-border">

  <ion-toolbar>

      <ion-buttons slot="start">
      <ion-menu-button menu="first" color="corp2"></ion-menu-button>
      </ion-buttons>
      
      <ion-title>Documentos</ion-title>
  </ion-toolbar>
    
</ion-header>


<ion-content class="ion-padding">

  <ion-label >{{ no_registers }}</ion-label>

  <h1>Lista de documentos</h1>


  <ion-grid fixed *ngFor="let item of response; index as i">
    <ion-row>
      <ion-col size="12">{{ i+1 }} ) {{ item[1].value }} </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button (click)="showDoc(i)" expand="block" fill="clear" shape="round">
          Ver
        </ion-button>
      </ion-col>

      <ion-col size="6">
        <ion-button (click)="modifyDoc(i)" expand="block" fill="clear" shape="round">
          Editar
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <!--
  <table *ngFor="let res of response; index as i">
    <tr>
      <td> Documento {{i}} </td>
    </tr>
    <tr *ngFor="let item of res">
      <td><ion-label style="font-weight: bold;">{{ item.name }}</ion-label></td>
      <td> {{ item.value }} </td>
    </tr>
  </table>


  
  <ion-list>

    <ion-item *ngFor="let item of response; index as i">
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">{{ item[i].name }}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label>{{ item[i].value }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item>
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">Acciones</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Ver</ion-label>
        </ion-col>
        <ion-col size="6">
          <ion-label>Editar</ion-label>
        </ion-col>
      </ion-row>
  </ion-item>

  </ion-list>
  -->

  <ion-button (click)="changePassword()" expand="block" shape="round" color="corp1" class="ion-margin-top">

    <ion-text color="corp2">
      Nuevo documento
    </ion-text>

  </ion-button>

</ion-content>
