<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis actividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let act of actividad | keyvalue: unsorted">
      <ion-row size="12">
        <ion-col size="12">
          <ion-label style="font-weight: bold;">{{ act.key }}</ion-label>
        </ion-col>
        <ion-col size="12">
          <ion-label type="text" class="ion-text-wrap">{{ act.value }}</ion-label>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-button (click)="inscribir()" expand="block" shape="round" color="corp1" class="ion-margin-top">

    <ion-text color="corp2">
      Inscribirse
    </ion-text>
  </ion-button>

</ion-content>
