<ion-header class="ion-no-border">

  <ion-toolbar>

      <ion-buttons slot="start">
      <ion-menu-button menu="first" color="corp2"></ion-menu-button>
      </ion-buttons>
      
      <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
    
</ion-header>


<ion-content class="ion-padding">

  <ion-list>
    
    <ion-item>
      <ion-label position="floating">Contraseña actual</ion-label>
      <ion-input name="actual"
                  type="password"
                  required
                  [(ngModel)]="actual"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nueva contraseña</ion-label>
      <ion-input name="nueva1"
                  type="password"
                  required
                  [(ngModel)]="nueva1"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar nueva contraseña</ion-label>
      <ion-input name="nueva2"
                  type="password"
                  required
                  [(ngModel)]="nueva2"></ion-input>
    </ion-item>

    
    <ion-button (click)="changePassword()" expand="block" shape="round" color="corp1" class="ion-margin-top"
                [disabled]="!actual || !nueva1 || !nueva2">

                <ion-text color="corp2">
                  Cambiar contraseña
                </ion-text>
    </ion-button>

  </ion-list>

</ion-content>
